  <style>
.city-header {
  background-color: #008efb;
  color: #fff;
  padding-bottom: 10px;
  padding-top: 10px;
  font-size: 15px;
}
.city-title {
  background-color: #eee;
  padding-bottom: 5px;
  padding-top: 5px;
  padding-left: 15px;
  font-size: 16px;
}
ul.city-list {
  list-style: none;
  padding-left: 15px;
}
ul.city-list > li {
  padding-top: 8px;
  padding-bottom: 8px;
  border-bottom: 1px solid #ededed;
  font-size: 15px;
}
ul.city-list > li:last-child {
  border: none;
}
.pull-left {
  display:inline-block;
  float:left;
}
  </style>
  <body>
    <div class="city-header text-center">
      <p onclick="history.go(-1)"class="pull-left" id="get-back" style="cursor:pointer;"><i class="icon ion-chevron-left" style="font-size:16px;"></i>&nbsp;
      返回</p>
      <span>选择城市</span>
    </div>

    <div class="current-city">
      <p class="city-title">当前城市</p>
      <ul class="city-list">
        <li>南昌</li>
      </ul>
    </div>
    <div class="all-city">
      <p class="city-title">所有城市</p>
      <ul class="city-list">
        <li>南昌</li>
        <li>南昌</li>
        <li>南昌</li>
        <li>南昌</li>
        <li>南昌</li>
        <li>南昌</li>
      </ul>
    </div>
