<link href="css/home.css" rel="stylesheet">
<div class="home">
    <ion-side-menus>

    <!-- 中心内容 -->
    <ion-side-menu-content>
      <ion-header-bar class="bar-dark">
        <button class="button button-icon" ng-click="toggleProjects()">
          <i class="icon ion-person"></i>
        </button>
        <img src="http://xiaozubb.com/images/water.png" class="title" />
        <!-- 新增按钮 -->
        <a class="home-sity button button-clear icon-right ion-android-arrow-dropdown" href="#/city">
          南昌市
        </a>
      </ion-header-bar>
      
      <ion-content>
        <div>
          <img class="home-contentimg" src="http://test.xiaozubb.com/images/index-index.jpg">
          <p class="home-search">
            <i class="ion ion-search"></i>
            <input type="text" placeholder="搜索写字楼，区域，商圈">
          </p>
        </div>
				<div class="home-list">
					<div class="row">
						<div class="col">
							<a class="tab-item" href="/#/more">
                  <img class="icon" src="../img/office.png" alt="">
								写字楼出租
							</a>
						</div>
						<div class="col">
							<a class="tab-item" href="/#/more">
                <img class="icon" src="../img/wangpu.png" alt="">
								旺铺出租
							</a>
						</div>
						<div class="col">
							<a class="tab-item" href="/#/more">
                <img class="icon" src="../img/factory.png" alt="">
                厂房出租
							</a>
						</div>
						<div class="col">
							<a class="tab-item" href="/#/more">
                <img class="icon" src="../img/shop.png" alt="">
                贝贝商城
							</a>
						</div>
					</div>
				</div>
        <ul class="home-footerlist">
          <li>
            <p>
              <i class="ion-ios-flower-outline"></i>
              <span>委托找房</span> 
              <i class="ion-ios-flower-outline"></i>
            </p>
            <div>为您更快找到合适房源</div>
          </li>
          <li>
            <p>
              <i class="ion-ios-flower-outline"></i>
              <span>委托找房</span>
              <i class="ion-ios-flower-outline"></i>
            </p>
            <div>为您更快找到合适房源</div>
          </li>
        </ul>
        <!--房源列表-->
        <ul class="list home-house-list">

          <li class="home-list-top"><span></span>旺铺出租</li> 

          <a href="/#/house">
            <li class="item item-thumbnail-left">
              <img src="http://test.xiaozubb.com/images/index-index.jpg">
              <p>坛子口中环广场</p>
              <p>140 m <span class="home-price">3500元/月</p>
              <p><span class="home-type">写字楼</span></p>   
              <p class="icon ion-location">东湖区</p>
            </li>
          </a>
          <a href="/#/house">
            <li class="item item-thumbnail-left">
              <img src="http://test.xiaozubb.com/images/index-index.jpg">
              <p>坛子口中环广场</p>
              <p>140 m</p>
              <p><span class="home-type">写字楼</span></p>   
              <p class="icon ion-location">东湖区</p>
            </li>
          </a>

          <li class="home-list-footer">
            <a href="">更多>></a>
          </li>
        </ul>
        <ul class="list home-house-list">

          <li class="home-list-top"><span></span>旺铺出租</li> 

          <a href="http://www.baidu.com">
            <li class="item item-thumbnail-left">
              <img src="http://test.xiaozubb.com/images/index-index.jpg">
              <p>坛子口中环广场</p>
              <p>140 m <span class="home-price">3500元/月</p>
              <p><span class="home-type">写字楼</span></p>   
              <p class="icon ion-location">东湖区</p>
            </li>
          </a>
          <a href="">
            <li class="item item-thumbnail-left">
              <img src="http://test.xiaozubb.com/images/index-index.jpg">
              <p>坛子口中环广场</p>
              <p>140 m</p>
              <p><span class="home-type">写字楼</span></p>   
              <p class="icon ion-location">东湖区</p>
            </li>
          </a>

          <li class="home-list-footer">
            <a href="">更多>></a>
          </li>
        </ul>
        <ul class="list home-house-list">

          <li class="home-list-top"><span></span>厂房出租</li> 

          <a href="http://www.baidu.com">
            <li class="item item-thumbnail-left">
              <img src="http://test.xiaozubb.com/images/index-index.jpg">
              <p>坛子口中环广场</p>
              <p>140 m <span class="home-price">3500元/月</p>
              <p><span class="home-type">写字楼</span></p>   
              <p class="icon ion-location">东湖区</p>
            </li>
          </a>
          <a href="">
            <li class="item item-thumbnail-left">
              <img src="http://test.xiaozubb.com/images/index-index.jpg">
              <p>坛子口中环广场</p>
              <p>140 m</p>
              <p><span class="home-type">写字楼</span></p>   
              <p class="icon ion-location">东湖区</p>
            </li>
          </a>

          <li class="home-list-footer">
            <a href="">更多>></a>
          </li>
        </ul>

        <ul class="list home-house-list">

          <li class="home-list-top"><span></span>住房出租</li> 

          <a href="http://www.baidu.com">
            <li class="item item-thumbnail-left">
              <img src="http://test.xiaozubb.com/images/index-index.jpg">
              <p>坛子口中环广场</p>
              <p>140 m <span class="home-price">3500元/月</p>
              <p><span class="home-type">写字楼</span></p>   
              <p class="icon ion-location">东湖区</p>
            </li>
          </a>
          <a href="">
            <li class="item item-thumbnail-left">
              <img src="http://test.xiaozubb.com/images/index-index.jpg">
              <p>坛子口中环广场</p>
              <p>140 m</p>
              <p><span class="home-type">写字楼</span></p>   
              <p class="icon ion-location">东湖区</p>
            </li>
          </a>

          <li class="home-list-footer">
            <a href="">更多>></a>
          </li>
        </ul>
        <!--房源列表结束--> 
      </ion-content>
    </ion-side-menu-content>

    <!-- 左边栏 -->
    <ion-side-menu side="left">
      <ion-content scroll="false" class="home-slide">
        <div class="row">
          <a class="tab-item" href="/#/login">
            <i class="icon ion-person"></i>
            <span>用 户</span>
          </a>
        </div>
        <div class="row">
          <a class="tab-item" href="/#/">
            <i class="icon ion-home"></i>
            <span>首 页</span>
          </a>
        </div>
        <div class="row">
          <a class="tab-item" href="">
            <i class="icon ion-ios-search"></i>
            <span>委托找房</span>
          </a>
        </div>
        <div class="row">
          <a class="tab-item" href="">
            <i class="icon ion-android-call"></i>
            <span>业主委托</span>
          </a>
        </div>
      </ion-content>
    </ion-side-menu>

    </ion-side-menus>

    <!--  新增页面 -->
    <script id="new-task.html" type="text/ng-template">

<div class="modal">

        <!-- Modal header bar -->
        <ion-header-bar class="bar-secondary">
          <h1 class="title">New Task</h1>
          <button class="button button-clear button-positive" ng-click="closeNewTask()">Cancel</button>
        </ion-header-bar>

        <!-- Modal content area -->
        <ion-content>

          <form ng-submit="createTask(task)">
            <div class="list">
              <label class="item item-input">
                <input type="text" placeholder="What do you need to do?" ng-model="task.title">
              </label>
            </div>
            <div class="padding">
              <button type="submit" class="button button-block button-positive">Create Task</button>
            </div>
          </form>

        </ion-content>

      </div>

    </script>
        </div>
