<link href="css/house.css" rel="stylesheet">
<div class="house">
  <ion-content>
    <div class="house-head">
      <ion-slide-box does-continue="true" auto-play="true" slide-interval=2000>
      <ion-slide>
        <div class="house-box house-blue">
          <img class="slide-img" src="http://img5.imgtn.bdimg.com/it/u=4041718731,746112096&fm=21&gp=0.jpg">
        </div>
      </ion-slide>
      <ion-slide>
        <div class="house-box house-yellow">
          <img class="slide-img" src="http://img.iyookee.cn/20150619/20150619_100607_883_670.png">
        </div>
      </ion-slide>
      <ion-slide>
        <div class="house-box house-pink">
          <img class="slide-img" src="http://img.iyookee.cn/20150714/20150714_172952_955_22.jpg">
        </div>
      </ion-slide>
    </ion-slide-box>
    <h4 class="house-title">金阳光大厦</h4>
    <div class="row">
      <div class="col col-67 col-bod">
        <span class="house-price">
          <strong>3500</strong>
          <small class="house-money">元/月</small>
        </span>
      </div>
      <div class="col col-star">
        <i class="icon ion-ios-star-outline"></i>
      </div>
    </div>
    </div>
    <div class="house-mid">
      <ul class="list">
        <li class="item row">
          <span class="col col-67">类型:写字楼</span>
          <span class="col">面积:154㎡</span>
        </li>
        <li class="item row">
          <span class="col col-67">城市:江西省南昌市</span>
          <span class="col">区域:东湖区</span>
        </li>
        <li class="item">
          <span>详细地址:南京西路</span>
        </li>
        <li class="item">
          <span>发布时间:2016-09-23</span>
        </li>
        <li class="item">
          <span>贝贝客服:<i class="icon ion-ios-telephone"></i>0791-87958688</span>
        </li>
      </ul>
    </div>
    <div class="house-line">
      <ul class="list">
        <li class="item line-h3">详细描述</li>
        <li class="item">
          <span>南昌市内交通便捷精装写字，最后一套</span>
        </li>
      </ul>
    </div>
    <div class="house-facility">
      <ul class="list">
        <li class="item line-h3">周边设施</li>
        <li class="item">
          <button class="button button-clear" id="bus">公交</button>
          <button class="button button-clear" id="subway">地铁</button>
          <button class="button button-clear" id="restaurant">餐饮</button>
        </li>
      </ul>
      <div id="housemap"></div>
    </div>
  </ion-content>
  
  
</div>
