<link href="css/more.css" rel="stylesheet">
<div class="more">
	<ion-view view-title="More">
		<ion-content class="content">
			<!-- 背景幕 -->
			<div class="backDrop" ng-show="backDrop" ng-click="toggleTag('backDrop');"></div>

			<div style="width: 100%;height: 10px;background-color: #ddd;"></div>
			<div class="item-input-inset row"  style="height: 50px;padding: 0;">
				<label class="item-input-wrap padding-left padding-right col">
					<input type="text" name="searchIput" placeholder="请输入所要搜索房源的内容" class="input" style="width: 100%;font-size: 18px;">
				</label>
				<i class="icon ion-search calm button "></i>
			</div>
			<div style="width: 100%;height: 10px;background-color: #ddd;"></div>


			<div class="row topTag index10">
				<div class="col borderRightEee" ng-click="toggleTag('tagToggle');">标签 <i class="icon icon-right ion-chevron-right"></i>
				</div>
				<div class="col borderRightEee" ng-click="toggleTag('districtToggle');">地区 <i class="icon icon-right ion-chevron-right"></i></div>
				<div class="col borderRightEee"  ng-click="toggleTag('priceToggle');">租金 <i class="icon icon-right ion-chevron-right"></i></div>
				<div class="col" ng-click="toggleTag('areaToggle');">面积 <i class="icon icon-right ion-chevron-right"></i></div>
			</div>
			<div class="row selectTag  borderTopEee" ng-hide="tagToggle">
				<ul class="col">
					<li class="selectItem">类型</li>
				</ul>
				<ul class="col">
					<li class="selectItem">不限</li>
					<li class="selectItem">写字楼</li>
					<li class="selectItem">商务公寓</li>
					<li class="selectItem">商务酒店</li>
					<li class="selectItem">其他</li>
				</ul>
			</div>
			<div class="row selectTag  borderTopEee" ng-hide="districtToggle">
				<ul class="col">
					<li class="selectItem" ng-click="metroToggle=true">区域</li>
					<li class="selectItem" ng-click="metroToggle=false">地铁</li>
				</ul>
				<ul class="col" ng-hide="metroToggle">
					<li class="selectItem" ng-click="oneLineToggle=false;twoLineToggle=false">全部</li>
					<li class="selectItem" ng-click="oneLineToggle=false;twoLineToggle=true">1号线</li>
					<li class="selectItem" ng-click="oneLineToggle=true;twoLineToggle=false">2号线</li>
				</ul>
				<ul class="col" ng-hide="!metroToggle">
					<li class="selectItem">不限</li>
					<li class="selectItem">西湖区</li>
					<li class="selectItem">青山谱区</li>
					<li class="selectItem">青山湖区</li>
					<li class="selectItem">高新区</li>
					<li class="selectItem">其他</li>
				</ul>
				<ul class="col" ng-hide="metroToggle">
					<li class="selectItem">不限</li>
						<ul ng-hide="oneLineToggle">
							<li class="selectItem">双港站1</li>
						</ul>
						<ul ng-hide="twoLineToggle">
							<li class="selectItem">双港站2</li>
						</ul>
				</ul>
			</div>
			<div class="row selectTag  borderTopEee" ng-hide="priceToggle">
				<ul class="col">
					<li class="selectItem">不限</li>
					<li class="selectItem">1000以下</li>
					<li class="selectItem">1000-2000元</li>
					<li class="selectItem">2000-3000元</li>
					<li class="selectItem row">
						<input class="col" type="text" name="priceArea1" placeholder="元">
						<i class="icon ion-minus-round"></i>
						<input class="col" type="text" name="priceArea2" placeholder="元">
					</li>
					<li class="selectItem">
						<span class="moreButton">确定</span>
					</li>
				</ul>
			</div>
			<div class="row selectTag  borderTopEee" ng-hide="areaToggle">
				<ul class="col">
					<li class="selectItem">不限</li>
					<li class="selectItem">50m<sup>2</sup>以下</li>
					<li class="selectItem">50-100m<sup>2</sup></li>
					<li class="selectItem">100-200m<sup>2</sup></li>
					<li class="selectItem row">
						<input class="col" type="text" name="priceArea1" placeholder="平方米">
						<i class="icon ion-minus-round"></i>
						<input class="col" type="text" name="priceArea2" placeholder="平方米">
					</li>
					<li class="selectItem">
						<span class="moreButton">确定</span>
					</li>
				</ul>
			</div>

			<div class="row sortTag">
				<div class="col-33 borderRightEee">全部</div>
				<div class="col-33 borderRightEee">月租 <i class="icon ion-ios-arrow-down"></i></div>
				<div class="col-33">面积 <i class="icon ion-ios-arrow-down"></i></div>
			</div>
			<div class="list">
				<div class="item item-thumbnail-left"  ng-repeat="num in items">
					<img src="http://xzbb.anasit.com/attachment/images/2/2016/08/1471334404DrvtY.jpg">
					<h2>绿地双子塔 {{num}}<span class="price">55</span></h2>
					<p><span>257m</span><sup>2</sup>&emsp;<span class="unit">元/平方米/月</span></p>
					<span class="houseTag">写字楼</span>
					<p><i class="icon ion-ios-location"></i> <span class="address">江西南昌市红谷滩新区红谷中大道</span></p>
				</div>
			</div>
			<ion-refresher on-refresh="doRefresh()"></ion-refresher>
			<ion-infinite-scroll
			    on-infinite="loadMore();"
			    distance="1%"
			    spinner="circles"
			    immediate-check="true"
			    ng-if="flag"
			    >
			  </ion-infinite-scroll>
			  <div class="loadEnd" ng-hide="flag">
			    {{loadEnd}}
			  </div>
		</ion-content>
	</ion-view>
</div>
