.home .bar-header{
  border:none;
}
.home-sity{
  color:#fff!important;
}
.home-top{
  background:#17304e;
}
.home-top i,h1,a{
  color:#fff;
}
.home-top a{
  color:#fff;
}
.home-contentimg{
  width:100%;
  height:200px;
}
.home-search{
  width:70%;
  border:1px solid #bbb;
  border-radius:5px;
  margin:-60px auto 0px;
  position:relative;
  height:30px;
  line-height:30px;
  background:#fff;
}
.home-search input{
  display: inline-block;
  width:70%;
  height:70%;
  margin-top:-8px;
}
.home-search i{
  width:5%;
  margin-left:3%;
  margin-right:10px;
  font-size:20px!important;
  cursor:pointer;
}
.home-search {
  color:#a7a7a7;
}
.home-list{
  margin-top:26px;
  background:#fff;
  height:110px;
  padding-top:20px;
  color:#a7a7a7;
}
.home-footerlist{
  text-align:center;
  position:relative;
  margin-top:-10px;
  z-index:2;
}
.home-footerlist li{
  width:80%;
  margin:0 auto;
  box-shadow:0px 0px 5px 3px #bbb;
  height:100px;
  padding-top:20px;
  background:#fff;
  margin-bottom:25px;
}
.home-footerlist li p{
  color:#008df9;
}
.home-footerlist li p span{
  font-size:20px;
  color:#008df9;
}
.home-footerlist li div{
  width:70%;
  border-bottom:1px solid #bbb;
  margin:0 auto;
}
.menu-content{
  background:#e5e6ea;
}
.home-slide .row{
  height:25%;
}
.home-slide a{
  margin:0 auto;
  color:#fff;
}
.home-slide .icon {
  height:60px;
  width:60px;
  border:1px solid #bbb;
  border-radius:50%;
  padding:10px;
  font-size:40px;
}
.home-slide{
  padding-top:20%;
  background:url("http://test.xiaozubb.com/images/index-index.jpg")
}
.home-list-top{
  color:#008efb;
  background:#fff;
  height:35px;
  line-height:35px;

}
.home-house-list .item{
  padding-bottom:5px;
}
.home-list-top span{
  height:80%;
  border:2px solid #008efb;
  margin-left:10px;
  margin-right:10px;
}
.home-list-footer{
  height:35px;
  line-height:35px;
  text-align:center;
  background:#fff;
}
.home-list-footer a{
  color:#008efb;
  text-decoration:none;
}
.home-house-list .item p{
  position:relative;
  padding-left:10px;
}
.home-house-list .ion-location::before{
  position:absolute;
  margin-left:-10px;
  margin-top: 3px;
  color:#fd9a00;
}
.home-price{
  right:10px;
  position:absolute;
  color:#fd9a00;
}
.home-house-list .home-type{
  color: #7baece;
  background: rgba(183, 177, 177, 0.2);
  border-radius: 2px;
  padding: 2px 5px 0px 5px;
  display: inline-block;
}
