

/*house 的css样式*/
.house{
	background-color: #f6f6f6;
}
.house .house-head{
	background-color: #fff;
}
.house .house-box{
	width: 100%;
	height: 200px;
}
.house .slide-img {
	width: 100%;
	height: 100%;
}
.house .slider-pager{
	height: 5px;
}
.house .slider-pager .slider-pager-page{
	color: #fff;
	font-size: 10px;
}
.house .house-title{
	font-weight: 700;
	margin-left: 15px;
}
.house .col-bod{
	padding: 0;
	border-right: 1px solid rgb(238,238,238);
	line-height: 28px;
}
.house .house-price{
	margin-left: 10px;
	color: #fb9a00;
	font-size: 20px;
}
.house .house-money{
	font-size: 17px;
}
.house .col-star{
	padding: 0;
	text-align: center;
	line-height: 28px;
}
.house .ion-ios-star-outline{
	cursor: pointer;
	font-size: 28px;
	color: #fb9a00;
}
.house .house-mid{
	margin-top: 10px;
	background-color: #fff;
}
.list{
	padding: 15px;
}
.list .item{
	padding: 7px 0;
	border-left: none;
	border-right: none; 
}
.list .item:first-child{
	border-top: none;
}
.list .item:last-child{
	border-bottom: none;
}
.list .item span{
	font-size: 14px;
}
.house .ion-ios-telephone{
	padding: 0 10px;
	color: rgb(255,202,40);
}
.house .house-line{
	margin-top: 10px;
	background-color: #fff;
}
.house .line-h3{
	font-size: 18px;
}
.house .house-facility{
	margin-top: 10px;
	background-color: #fff;
}
.house .house-facility .list{
	margin-bottom: 0;
}
.house .house-facility button{
	font-size: 14px;
	border-radius: 0;
	max-width: none;
	max-height: none;
	min-width: 48px;
	min-height: 30px;
	line-height: 30px;
	margin: 0 8px;
	color: #333;
}
.house .house-facility button:hover{
	color: #fff;
	background-color: #008efb;
}
.house .chosed{
	color: #fff !important;
	background-color: #008efb;
}
.house #housemap{
	height: 300px;
}