
.more .borderEee{
	border-radius: 1px solid #eee;
}
.more .borderRightEee{
	border-right: 1px solid #eee;
}
.more .borderBottomEee{
	border-bottom: 1px solid #eee;
}
.more .borderLeftEee{
	border-left: 1px solid #eee;
}
.more .borderTopEee{
	border-top: 1px solid #eee;
}
.more .topTag{
	border-bottom: 1px solid #eee;
	text-align: center;
}
.more .topTag div{
	font-size: 15px;
	margin-top: 10px;
}
.more .topTag i{
	font-size: 10px;
}
.more .selectTag{
	position: absolute;
	background-color: white;
	z-index: 10;
	font-size: 18px;
	padding: 5px;
}
.more .selectTag span{
	padding: 5px;
}
.more .selectTag > ul{
	border-left: 1px solid #eee;
}
.more .selectTag ul li{
	padding: 5px;
}
.more .selectItem{
	padding: 5px;
	border-bottom: 1px solid #eee;
}
.more .selectItem input{
	border: 1px solid #eee;
	padding-left: 5px;
}
.more .selectItem i{
	padding: 5px;
	color: #aaa;
}
.more .sortTag{
	text-align: center;
	border-bottom: 1px solid #eee;
}
.more .sortTag div{
	font-size: 15px;
	margin-top: 10px;
}
.more .list .price,.more .list .unit{
	float: right;
	color: #008efb;
}
.more .list .houseTag{
	border: 1px solid #008efb;
	color:#008efb;
	border-radius: 5px;
	font-size: 12px;
	padding: 3px;
}
.more .list .address{
	font-size: 12px;
	color: #999;
}
.more .moreButton{
	padding: 5px;
	background-color: white;
	border: 1px solid #eee;
	border-radius: 5px;
	width: 100%;
	display: block;
	text-align: center;
}
/*加载动画颜色设置*/
.more .spinner svg{
	stroke: #008efb;
	fill: #008efb;
}
/*背景幕*/
.more .backDrop{
	width: 100%;
	height: 100%;
	opacity: 0.5;
	background-color: black;
	z-index: 9;
	position: absolute;
	top: 0;
	left: 0;
}
.more .index10{
	position: relative;
	z-index: 10;
	background-color: white;
}
.more .loadEnd{
	text-align: center;
	font-size: 20px;
	color: #aaa;
	padding: 10px;
	margin-bottom: 20px;
}